<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>一罐</title>
  <link rel="stylesheet" href="styles/bulma.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <script defer src="./scripts/fontawesome.js"></script>

</head>
<body>
  <div class="header">
    <div class="container">
      <h2>一罐</h2>
      <div class="nav">
        <div class="nav-item">
          <a href="./index.html">公司介绍</a>
        </div>
        <div class="nav-item">
          <a href="./product.html">公司产品</a>
        </div>
        <div class="nav-item active">
          <a href="#">用户评价</a>
        </div>
        <div class="nav-item">
          <a href="./contact.html">联系我们</a>
        </div>
        <div class="nav-item">
          <a href="./login.html" v-if="!isLogin">登录\注册</a>
          <a href="#" v-else>已登录</a>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="swagger"></div>
    <div class="context" style="height: 1000px;">
      <div class="container" style="padding-top: 50px;">
        <article class="message">
          <div class="message-body">
            页面很简洁，没有多余的东西，然后是私密性很强，评论和发罐头都可以任意换名字，也没有个人主页的设置，是真的可以放心使用了，的确是“地球上较为安全的树洞”了。最后特别值得称赞的是，一罐对恶性言论的监管真的很严格，不当言论举报了基本都能得到处理。
          </div>
        </article>
        <article class="message">
          <div class="message-body">
              只要你来一罐看一看，你会发现这里的小伙伴都是这么的善良可爱！在你难过生病的时候给你关怀，我在这里收获了甚至比现实中更多的爱，谁能说它没用！
          </div>
        </article>
        <article class="message">
          <div class="message-body">
              我也找到了很多能陪着我聊天的小伙伴，互道早安晚安是我以前没有体会过的。不用担心自己的背景，长相，因为这里，你没有身份，你可以是这个，也可以是那个。
          </div>
        </article>
        <article class="message">
          <div class="message-body">
              其实我只是来找个心灵寄存处，在这里吐露了很多阴暗往事，我喜欢写手帐，原来觉得手帐是自己最忠诚的陪伴，那些难过无助不想与他人分享无法倾诉的苦痛的守墓者，但很多事没有人倾听难以排遣心中的郁结，但一罐是个很好的垃圾桶，没人知道你，没有人恶意评论，他们回复你的是陌生的温暖，当然还有别的有趣功能，但我只是用了这一处，虽然也许解决不了实际问题，但是对我来说看到别人安慰的时候，就足够了。
          </div>
        </article>
        <article class="message">
          <div class="message-body">
            没人知道你是谁，也没有大V和你抢关注。大家都是小透明，但大家都能被看到。分享是真实的，想法是真实的，大家都在敞开心扉。互动量感觉比起微博多了好多倍。而且我好喜欢每新罐头可以取名字的环节，简直太符合我这种戏精的人设了哈哈。到目前为止都没有一个罐头的名字是重合的，没人能追踪到我，没人知道我说过什么，他们只能关注我目前的这个罐头，并发表评论。
          </div>
        </article>
        <article class="message">
          <div class="message-body">
            在用之前，对于产品经理说的，不能被看到主页这点有点不解。现在觉得这个设计太巧妙了。一开始把一罐想象成一个社交的App，但后来发现其实一罐是一个纯私人的软件。纯匿名的形式让你完全放飞了（这里说的放飞也并不是完全没有度，如果玩SEX海更要注意，不然随时被举报哈哈）你敢去问之前一直困惑的却羞于启齿的问题，随随便便发表分享一些电影或者美食，却总能神奇地碰到和你有相同趣味的人。但我们之间并不需要花费精力去建立联系，一切都是自然的，水到渠成的。
          </div>
        </article>
        <article class="message">
          <div class="message-body">
            能让小透明有存在感的软件，体会与人接触的愉悦的同时又没有社交压力，确实就像产品经理的初心一样，是社恐人员一个心灵寄托的小角落吧。我们渴望陪伴，渴望关注，但我们害怕陪伴带来的压力，害怕关注带来的目光。但在一罐，这些担忧，都能缩到最小值，并且让我们在一种轻松的氛围中体会这种美妙。
          </div>
        </article>
        <!-- <div class="main">
          <h3>一罐是一款「年轻人的社交工具」</h3>
          <p></p>
          <p>中国目前90后10前的数量有2.5亿人，这群青少年，如果没有能力产出优质内容吸引到别人来跟他聊天，不想在QQ或者朋友圈说负面情绪，那他们就无处可去，但他们有旺盛的社交需求，而这是目前一罐的基本盘用户。</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <p>版权所有：上海犬岛信息科技有限公司</p>
      <p>©一罐 沪ICP备18031101号</p>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var vm2 = new Vue({
  el: '.header',
  data () {
    return {
      isLogin: false
    }
  },
  created () {
    this.isLogin = JSON.parse(window.localStorage.getItem('isLogin'))
  }
})
</script>
</html>