<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles/bulma.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <script defer src="./scripts/fontawesome.js"></script>

</head>
<body>
  <div class="header">
    <div class="container">
      <h2>一罐</h2>
      <div class="nav">
        <div class="nav-item">
          <a href="./index.html">公司介绍</a>
        </div>
        <div class="nav-item">
          <a href="./product.html">公司产品</a>
        </div>
        <div class="nav-item active">
          <a href="#">用户评价</a>
        </div>
        <div class="nav-item">
          <a href="./contact.html">联系我们</a>
        </div>
        <div class="nav-item active">
          <a href="#" v-if="!isLogin">登录\注册</a>
          <a href="#" v-else>已登录</a>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="swagger"></div>
    <div class="context" style="height: 600px;">
      <div class="container" style="padding-top: 50px;">
        <article class="message">
          <div class="message-body">
            页面很简洁，没有多余的东西，然后是私密性很强，评论和发罐头都可以任意换名字，也没有个人主页的设置，是真的可以放心使用了，的确是“地球上较为安全的树洞”了。最后特别值得称赞的是，一罐对恶性言论的监管真的很严格，不当言论举报了基本都能得到处理。
          </div>
        </article>
        <article class="message">
          <div class="message-body">
              只要你来一罐看一看，你会发现这里的小伙伴都是这么的善良可爱！在你难过生病的时候给你关怀，我在这里收获了甚至比现实中更多的爱，谁能说它没用！
          </div>
        </article>
        <article class="message">
          <div class="message-body">
              我也找到了很多能陪着我聊天的小伙伴，互道早安晚安是我以前没有体会过的。不用担心自己的背景，长相，因为这里，你没有身份，你可以是这个，也可以是那个。
          </div>
        </article>
        <article class="message">
          <div class="message-body">
              其实我只是来找个心灵寄存处，在这里吐露了很多阴暗往事，我喜欢写手帐，原来觉得手帐是自己最忠诚的陪伴，那些难过无助不想与他人分享无法倾诉的苦痛的守墓者，但很多事没有人倾听难以排遣心中的郁结，但一罐是个很好的垃圾桶，没人知道你，没有人恶意评论，他们回复你的是陌生的温暖，当然还有别的有趣功能，但我只是用了这一处，虽然也许解决不了实际问题，但是对我来说看到别人安慰的时候，就足够了。
          </div>
        </article>
        <!-- <div class="main">
          <h3>一罐是一款「年轻人的社交工具」</h3>
          <p></p>
          <p>中国目前90后10前的数量有2.5亿人，这群青少年，如果没有能力产出优质内容吸引到别人来跟他聊天，不想在QQ或者朋友圈说负面情绪，那他们就无处可去，但他们有旺盛的社交需求，而这是目前一罐的基本盘用户。</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <p>版权所有：上海犬岛信息科技有限公司</p>
      <p>©一罐 沪ICP备18031101号</p>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var vm2 = new Vue({
  el: '.header',
  data () {
    return {
      isLogin: false
    }
  },
  created () {
    this.isLogin = JSON.parse(window.localStorage.getItem('isLogin'))
  }
})
</script>
</html>