<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles/bulma.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <script defer src="./scripts/fontawesome.js"></script>

</head>
<body>
  <div class="header">
    <div class="container">
      <h2>一罐</h2>
      <div class="nav">
        <div class="nav-item">
          <a href="./index.html">公司介绍</a>
        </div>
        <div class="nav-item">
          <a href="./product.html">公司产品</a>
        </div>
        <div class="nav-item">
          <a href="./article.html">用户评价</a>
        </div>
        <div class="nav-item active">
          <a href="#">联系我们</a>
        </div>
        <div class="nav-item">
          <a href="./login.html" v-if="!isLogin">登录\注册</a>
          <a href="#" v-else>已登录</a>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="swagger"></div>
    <div class="context contact">
      <div class="container">
        <div class="main">
          <h3>上海犬岛信息科技有限公司</h3>
          <p>地址：上海市肇嘉浜路736号5楼</p>
          <p>联系电话：021-5386 5810‬</p>
        </div>
        <div class="map-img">
          <img src="./images/map.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="item">
        <div class="logo"></div>
        <p></p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <p>版权所有：上海犬岛信息科技有限公司</p>
      <p>©一罐 沪ICP备18031101号</p>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var vm2 = new Vue({
  el: '.header',
  data () {
    return {
      isLogin: false
    }
  },
  created () {
    this.isLogin = JSON.parse(window.localStorage.getItem('isLogin'))
  }
})
</script>
</html>