<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/index.css">
  <!-- <link rel="stylesheet" href="styles/bulma.min.css"> -->
  <script defer src="./scripts/fontawesome.js"></script>

</head>
<body>
  <div class="header-normal">
    <div class="container">
      <h2>一罐</h2>
      <div class="nav">
        <div class="nav-item">
          <a href="./index.html">公司介绍</a>
        </div>
        <div class="nav-item active">
          <a href="#">公司产品</a>
        </div>
        <div class="nav-item">
          <a href="./article.html">用户评价</a>
        </div>
        <div class="nav-item">
          <a href="./contact.html">联系我们</a>
        </div>
        <div class="nav-item">
          <a href="#" v-if="!isLogin">登录\注册</a>
          <a href="#" v-else>已登录</a>
        </div>
      </div>
    </div>
  </div>
  <div class="home onecan">
    <div class="header">
      <div class="header-banner"></div>
      <img src="./images/launch-bottle.png" class="header-logo">
    </div>
    <div class="footer">
      <div class="content">
        <div class="tools">
          <div class="buttons">
            <a href="https://itunes.apple.com/cn/app/id1370250848" class="button">
              <object data="./images/iphone.svg" type="image/svg+xml"></object>
              <span class="button-text">iPhone</span>
            </a>
            <a href="http://down.dcdn.jijigugu.club/yiguan_official.apk" class="button">
              <object data="./images/Android.svg" type="image/svg+xml"></object>
              <span class="button-text">Android</span>
            </a>
          </div>
          <img src="./images/qr-code.png" class="qrcode">
        </div>
      </div>
      <div class="contact">
          <span>版权所有：上海犬岛信息科技有限公司</span>
          <span>©一罐 沪ICP备18031101号</span>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var vm2 = new Vue({
  el: '.header',
  data () {
    return {
      isLogin: false
    }
  },
  created () {
    this.isLogin = JSON.parse(window.localStorage.getItem('isLogin'))
  }
})
</script>
</html>